ddstable==0.2.0
telegram==0.0.1
python-telegram-bot==13.15
beautifulsoup4==4.12.3
lxml==5.3.0
psycopg2_binary==2.9.10
Jinja2==3.1.4
transliterate==1.10.2
pytz==2025.2
rarfile==4.2
requests==2.32.3
openpyxl~=3.1.5
prettytable==3.12.0
py7zr==0.22.0
six == 1.16
tzlocal==5.3.1
urllib3==1.26.17
