<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .head  {
        align:center;
        padding: 10px 15px 9px 15px
width: auto;
border: none;
display: block;
outline: 0;

        }
        .header-item {
        vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
        }
    </style>
</head>
<body>
<header><div class="head"><a class="header-item" href="/">Homepage</a>
    <a class="header-item" href="/tournaments">Tournaments</a>
    <a class="header-item" href="/rating">Rating</a></div></header>
</body>
</html>