<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset='UTF-8'">
    <title>Rankings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body bgcolor="#ffffff">
{% include 'header.html' %}
<h1>{{tournament_title}} {{date}}</h1>
<h1>Ranks</h1>
{% if scoring == "MPs" %}
<h2>{{tables}} Table {{boards}} Board Howell Movement. MAX = {{max}}</h2>
{% else %}
<h2>{{tables}} Table {{boards}} Board Howell Movement. Scoring = {{scoring}}</h2>
{% endif %}
<div align="center">
<table style="FONT-SIZE: 11pt; FONT-FAMILY: Arial" class="hy">
  <tbody>
  <tr>
    <th align="center">Rank</th>
    <th align="center">Pair</th>
    <th align="left">Names</th>
    <th align="center">Total</th>
    {% if scoring == "MPs" %}
    <th align="center">%Score</th>
    {% endif %}
    <th align="center">Master Points</th>
    <th align="center">Master Points (RU)</th>
  </tr>
  {% for pair in totals %}

  {% if loop.index0 % 2 %}
  <tr class="odd">
  {% else %}
  <tr class="even">
  {% endif %}
    <td align="center">{{pair.rank}}</td>
    <td align="center"><a href="/result/{{tournament_id}}/scorecard/{{pair.number}}">{{pair.number}}</td>
    <td align="left">{{pair.names}}</td>
    <td align="center">{{pair.mp}}</td>
    {% if scoring == "MPs" %}
    <td align="center">{{pair.percent}}</td>
    {% endif %}
    <td align="center">{{pair.masterpoints}}</td>
    <td align="center">{{pair.masterpoints_ru}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table></div>
{% include 'footer.html' %}
</body>
</html>