<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<style>
@media print {
    @page { margin: 5mm 0mm 0mm 0mm; }
        @top-left-corner { ... / empty footer / }

}
* {
FONT-FAMILY: Arial
}

H1 {
FONT-SIZE: 20pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: center
}
H2 {
FONT-SIZE: 16pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #0000a0; TEXT-ALIGN: center
}
table.deal, table.deal td, .minimax {
border: none;
font-family: Verdana;
font-size: 13px;
}

table.deal th{
font-family: Verdana;
font-size: 13px;
border: 1px solid #0C479D;
border-collapse: separate;
background:#ddffdd;
border-radius: 4px;
}

.brd{
border: 1px solid #0C479D;
border-collapse: collapse;
}
.hand {
  padding: 0%;
  display: flex;
  width: 100px;
}

.number {
  align-content: center;
}
.number td {
    height: 0;
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}

.grid {
    width: 100%;
    height: 100%;
  font-family: Verdana;
  font-size: 13px;
  padding: 0%
}

.n {
  border-radius: 45% 45% 5% 5%;
text-align: center
}

.w {
  border-radius: 45% 5% 5% 45%;
  padding-left: 5px;

}

.e {
  border-radius: 5% 45% 45% 5%;
  padding-right: 5px;
}

.s {
  border-radius: 5% 5% 45% 45%;
text-align: center
}

.square {
  height: 0;
    &: after, &: before {
        content: '';
        display: block;
        padding-bottom: calc(50% - 0.5em);
        }
}


.dealer {
  text-decoration: underline;
}

.vul {
  background-color: tomato;
}

.nonvul {
  background-color: palegreen;
}
.spades{
  color:black
}
.hearts{
  color:red
}
.diamonds {
  color:#ff6600
}
.clubs {
  color:green
}
</style>
<body>
<table style="FONT-SIZE: 11pt;">
  <tbody>
  <tr bgcolor="#cfcfcf">
    <th align="center">Rank</th>
    <th align="center">Pair</th>
    <th align="left">Names</th>
    <th align="center">Total</th>
    {% if scoring == "MPs" %}
    <th align="center">%Score</th>
    {% endif %}
    <th align="center">Master Points</th>
    {% if AM %}
    <th align="center">Master Points (RU)</th>
    {% endif %}
  </tr>
  {% for pair in totals %}
  <tr bgcolor="#efefef">
    <td align="center">{{pair.rank}}</td>
    <td align="center">{{pair.number}}</td>
    <td align="left">{{pair.names}}</td>
    <td align="center">{{pair.mp}}</td>
    {% if scoring == "MPs" %}
    <td align="center">{{pair.percent}}</td>
    {% endif %}
    {% if AM %}
    <td align="center">{{pair.masterpoints}}</td>
    {% endif %}
    <td align="center">{{pair.masterpoints_ru}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<table style="page-break-inside: avoid;BORDER-TOP: 0px; BORDER-RIGHT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: #ffffff"
       cellpadding="4">
    <tbody>
    {% for board in boards %}
    {% if (board.ns or board.nh or board.nd or board.nc) and board.tables %}
    <tr><td colspan="2" align="center"><b>BOARD: {{board.b}}</b></td></tr>
    <tr style="page-break-inside: avoid;">
        <td valign="top" width="33%" class="brd">
            <table class="grid">
                <tbody>
                    <tr>
                        <td><b>DLR: {{board.d}}</b></td>
                        <td>&nbsp;</td>
                        <td><b>VUL: {{board.v}}</b> </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <span class="spades">&spades;</span>{{board.ns}}<br/>
                    <span class="hearts">&hearts;</span>{{board.nh}}<br/>
                    <span class="diamonds">&diams;</span>{{board.nd}}<br/>
                    <span class="clubs">&clubs;</span>{{board.nc}}
                        </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr>
                        <td><span class="spades">&spades;{{board.ws}}</span><br/>
                    <span class="hearts">&hearts;</span>{{board.wh}}<br/>
                    <span class="diamonds">&diams;</span>{{board.wd}}<br/>
                    <span class="clubs">&clubs;</span>{{board.wc}}
                        </td>
                        <td>
                            <table class="number">
                        <tbody><tr>
                            <td>  </td>
                            <td class="n {{board.ns_vul}} {{board.n_dealer}}"><font size="+1">N</font></td>
                            <td>  </td></tr>
                        <tr>
                           {% if board.b < 10 %}
                            <td class="w {{board.ew_vul}} {{board.w_dealer}}"><font size="+1">W</font></td>
                            <td class="digits" style="padding-left: 2px"><font color="#0000bb" size="+1"><b>{{board.b}}</b></font></td>
                            <td class="e {{board.ew_vul}} {{board.e_dealer}}"><font size="+1">E</font></td></tr>
                            {% else %}
                            <td class="w {{board.ew_vul}} {{board.w_dealer}}" style="padding-left: 5px;"><font size="+1">W</font></td>
                            <td class="digits"  style="padding-left: -2px"><font color="#0000bb" size="+1"><b>{{board.b}}</b></font></td>
                            <td class="e {{board.ew_vul}} {{board.e_dealer}}" style="padding-right: 5px;"><font size="+1">E</font></td></tr>

                        {% endif %}
                       <tr><td></td>
                           <td class="s {{board.ns_vul}} {{board.s_dealer}}"><font size="+1">S</font></td><td></td></tr></tbody>
                    </table>
                        </td>
                        <td>
                            <span class="spades">&spades;</span>{{board.es}}<br/>
		            <span class="hearts">&hearts;</span>{{board.eh}}<br/>
		            <span class="diamonds">&diams;</span>{{board.ed}}<br/>
		            <span class="clubs">&clubs;</span>{{board.ec}}
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <span class="spades">&spades;</span>{{board.ss}}<br/>
                    <span class="hearts">&hearts;</span>{{board.sh}}<br/>
                    <span class="diamonds">&diams;</span>{{board.sd}}<br/>
                    <span class="clubs">&clubs;</span>{{board.sc}}
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td valign="bottom" width="60%" align="left">
            <div width="400">
            <table width="300" height="100" cellpadding="0" cellspacing="2" class="deal" border="0">
                <tbody>
                <tr>
                    <td width="8%">&nbsp;</td>
                    <th width="8%">NT</th>
                    <th width="8%"><span class="spades">&spades;</span></th>
                    <th width="8%"><span class="hearts">&hearts;</span></th>
                    <th width="8%"><span class="diamonds">&diams;</span></th>
                    <th width="8%"><span class="clubs">&clubs;</span></th>
                    <td rowspan="3" width="3%">&nbsp;</td>
                    <td width="8%">&nbsp;</td>
                    <th width="8%">NT</th>
                    <th width="8%"><span class="spades">&spades;</span></th>
                    <th width="8%"><span class="hearts">&hearts;</span></th>
                    <th width="8%"><span class="diamonds">&diams;</span></th>
                    <th width="8%"><span class="clubs">&clubs;</span></th>
                </tr>
                <tr>
                    <th>N</th>
                    <td align="center">{{board.n_par_n}}</td>
                    <td align="center">{{board.n_par_s}}</td>
                    <td align="center">{{board.n_par_h}}</td>
                    <td align="center">{{board.n_par_d}}</td>
                    <td align="center">{{board.n_par_c}}</td>
                    <th>E</th>
                    <td align="center">{{board.e_par_n}}</td>
                    <td align="center">{{board.e_par_s}}</td>
                    <td align="center">{{board.e_par_h}}</td>
                    <td align="center">{{board.e_par_d}}</td>
                    <td align="center">{{board.e_par_c}}</td>
                </tr>
                <tr>
                    <th>S</th>
                    <td align="center">{{board.s_par_n}}</td>
                    <td align="center">{{board.s_par_s}}</td>
                    <td align="center">{{board.s_par_h}}</td>
                    <td align="center">{{board.s_par_d}}</td>
                    <td align="center">{{board.s_par_c}}</td>
                    <th>W</th>
                    <td align="center">{{board.w_par_n}}</td>
                    <td align="center">{{board.w_par_s}}</td>
                    <td align="center">{{board.w_par_h}}</td>
                    <td align="center">{{board.w_par_d}}</td>
                    <td align="center">{{board.w_par_c}}</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div width="50%" class="minimax">
                {% if scoring_short == "IMP" %}
                <b>minimax = <a class="minimax_url" href="{{board.minimax_url}}">{{board.level}}{{board.denomination}} {{board.declarer}}</a> {{board.result}}, {{board.score}}, datum = {{board.datum}}</b>
                {% else %}
                <b>minimax = <a class="minimax_url" href="{{board.minimax_url}}">{{board.level}}{{board.denomination}} {{board.declarer}}</a> {{board.result}}, {{board.score}}</b>
                {% endif %}
            </div>
        </td>
    </tr>
    {% else %}
    {% if scoring_short == "IMP" %}
        <tr><td colspan="2" align="center"><b>BOARD: {{board.b}} DATUM: {{board.datum}}</b></td></tr>
    {% else %}
        <tr><td colspan="2" align="center"><b>BOARD: {{board.b}}</b></td></tr>
    {% endif %}
    {% endif %}
    <tr>
        <td valign="top" width="75%" colspan="2">
            <table style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: normal;padding-bottom:10px;"
                   cellpadding="1" width="100%">
                <tbody>
                <tr bgcolor="#cfcfcf">
                    <th align="center">NS</th>
                    <th align="center">EW</th>
                    <th align="center">Contract</th>
                    <th align="center">By</th>
                    <th align="center">Lead</th>
                    <th align="center">NS+</th>
                    <th align="center">NS−</th>
                    <th align="center">{{scoring_short}}</th>
                    <th align="center">{{scoring_short}}</th>
                    <th align="center" width="25%">NS</th>
                    <th align="center" width="25%">EW</th>
                </tr>
                {% for table in board.tables %}
                <tr bgcolor="#efefef">
                    <td align="center">{{table.ns}}</td>
                    <td align="center">{{table.ew}}</td>
                    {% if table.bbo_url %}
                    <td align="center"><a target="_blank" href="{{table.bbo_url}}">{{table.contract}}</a></td>
                    {% else %}
                    <td align="center">{{table.contract}}</td>
                    {% endif %}
                    <td align="center">{{table.declarer}}</td>
                    <td align="center">{{table.lead}}</td>
                    <td align="center">{{table.nsplus}}</td>
                    <td align="center">{{table.nsminus}}</td>
                    <td align="center">{{table.mp_ns}}</td>
                    <td align="center">{{table.mp_ew}}</td>
                    <td nowrap="" align="left">{{table.ns_name}}</td>
                    <td nowrap="" align="left">{{table.ew_name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
</body>
</html>
